#root,
body,
html {
  background-color: $background-color;
  height: 100%;
  width: 100%;
  font-weight: bold;
  color: map-get($colors, light);

  .background {
    background: url("/assets/background.svg") no-repeat bottom left;
    background-size: 500px;
    background-position-x: calc(100vw - 285px);
    background-position-y: calc(100vh - 260px);
    height: 100%;
    width: 100%;
    position: fixed;
  }

  .modal-content {
    background-color: $background-color;
    text-align: center;
  }
}

a {
  &:hover {
    color: darken(map-get($colors, light), 30%);
    text-decoration: none;
  }
  color: map-get($colors, light);
  text-decoration: none;
}

.circle {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
  padding: 0;
  border-radius: 10rem !important;
  width: 150px;
  height: 150px;
  background-color: map-get($colors, way-gray);
  font-size: 3rem;

  &__inner {
    display: inherit;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
    margin: auto;
    padding: auto;
    border-radius: 10rem;
    background-color: map-get($colors, way-gray);
  }

  &__gradient {
    background: $way-connect-gradient !important;

    .fa:before {
      // color: $way-connect-gradient;
      background: $way-connect-gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      display: initial;
    }
  }
}
