.dashboard {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;



  h4 {
    margin-top: 10px;
  }

  .loader {
    width: 150px;
    height: 150px;
    position: relative;
    left: -13px;
    top: -8px;
  }
}
