.fidelity {
  max-width: 500px;
  width: 100%;
  margin: auto;
  $fidelity_logo_size: 200px;
  $fidelity_logo_size_half: ($fidelity_logo_size);

  h2,
  h4 {
    font-size: 3.5rem;
    font-weight: 900;
  }

  h4 {
    font-size: 2.5rem;
  }

  .logo {
    margin: 50px auto 10px;
    width: $fidelity_logo_size;
    height: $fidelity_logo_size;
    // margin-right: calc(100vw - 150px);
    img {
      width: 100%;
    }

    .logo-black {
      width: $fidelity_logo_size;
      height: $fidelity_logo_size;
      position: absolute;
      overflow-y: hidden;
      transition: height 2s ease;
      margin-top: -1px;
    }

    .logo-white {
      width: $fidelity_logo_size;
      height: $fidelity_logo_size;
      position: absolute;
      overflow-y: hidden;
    }
  }

  .bonus-max {
    height: 3rem;
    font-size: 1.5rem;
    padding: 0.25rem;
    background-color: rgba(map-get($colors, way-gray), 0.5);
    margin: 15% auto;
  }

  .fa:before {
    // color: $way-connect-gradient;
    background: $way-connect-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: initial;
  }

  .my-info {
    font-size: 1.5rem;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: map-get($colors, way-gray);
    position: absolute;
    margin-left: 40px;
    margin-top: -15px;
    z-index: 1;
  }

  .activate {
    width: 100%;
    height: 50px;
    font-size: 1.5rem;
  }

  .modal {
    text-align: center;
  }
}
