.gateway {
  height: 100%;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  .logo {
    max-width: 200px;
    // height: 200px;
  }

  .go-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 200;

    .btn {
      font-size: 1rem;
      border-radius: 0.5rem;
      background: $way-connect-gradient;
    }

    p {
      margin-bottom: 0.5rem;
    }
  }

  .way-connect {
    h4 {
      font-size: 2.5rem;
      font-weight: 900;
    }

    .btn {
      border-radius: 8rem;
      width: 250px;
      height: 250px;
    }
  }

  .video-playing {
    .video-react {
      position: fixed;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
    }
  }

  .video-not-playing {
    display: none;
  }
}

.gateway {}
