.login {
  height: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .logo {
    max-width: 200px;
    height: 200px;
  }

  .btn-facebook {
    display: flex;
    flex-wrap: wrap;
    border-radius: 1rem;
    font-weight: bold;
    border: 0;
    background-color: map-get($colors, facebook-blue);
    padding: 0.5rem 1.5rem;
  }

  .no-facebook {
    color: white !important;
    text-decoration: none !important;
  }

  .buttons {
    margin-top: 250px;
    bottom: 100px;
  }
}
