.navbar {
  height: $navbar_height;
  width: 100%;
  background: $background-color;
  border-width: 0;
  border-radius: 0.5rem;
  // border-radius: 1rem;
  box-shadow: 0 9px 8px 0 rgba(0, 0, 0, 0.2), 0 11px 20px 0 rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;

  h4 {
    font-weight: 900;
    font-size: 2.5rem;
  }

  .nav-button {
    cursor: pointer;
    width: 30px;

    .fa:before {
      font-weight: bold;
      font-size: 1.75rem;
      background: map-get($colors, way-gray);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      display: initial;
    }
  }

  h4 {
    margin: 0 auto;
  }
}
