


@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');


/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: 'Roboto', sans-serif;

}

/*---------------------------------------------*/
a {
	font-family: 'Roboto', sans-serif;

	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
    color: -webkit-linear-gradient(90deg, rgba(251,166,29,1) 0%, rgba(240,86,51,1) 100%);
  color: -o-linear-gradient(90deg, rgba(251,166,29,1) 0%, rgba(240,86,51,1) 100%);
  color: -moz-linear-gradient(90deg, rgba(251,166,29,1) 0%, rgba(240,86,51,1) 100%);
 color: rgb(251,166,29);
color: linear-gradient(90deg, rgba(251,166,29,1) 0%, rgba(240,86,51,1) 100%);
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: 'Roboto', sans-serif;

	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #adadad;}
input:-moz-placeholder { color: #adadad;}
input::-moz-placeholder { color: #adadad;}
input:-ms-input-placeholder { color: #adadad;}

textarea::-webkit-input-placeholder { color: #adadad;}
textarea:-moz-placeholder { color: #adadad;}
textarea::-moz-placeholder { color: #adadad;}
textarea:-ms-input-placeholder { color: #adadad;}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: 'Roboto', sans-serif;

  font-size: 13px;
  color: #666666;
  line-height: 1.5;
}

.txt2 {
  font-family: 'Roboto', sans-serif;

  font-size: 13px;
  color: #333333;
  line-height: 1.5;
}

/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #383838;  
}

.wrap-login100 {
  width: 390px;
  background: #000;
  border-radius: 10px;
  overflow: hidden;
  padding: 77px 55px 33px 55px;

  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  min-height: 75vh !important;
}


/*------------------------------------------------------------------
[ Form ]*/

.login100-form {
  width: 100%;
}

.login100-form-title {
  display: block;
    font-family: 'Roboto', sans-serif;
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
}
.login100-form-title i {
  font-size: 60px;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 37px;
}

.input100 {
    font-family: 'Roboto', sans-serif;

    font-size: 15px;
    color:#fff;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 35px;
    background: #4d4d4d;
    padding: 0 5px;
    border-radius: 5px;
}

#comment  {
    font-family: 'Roboto', sans-serif;

    font-size: 15px;
    color: #fff;
    line-height: 1.2;
    display: block;
    width: 100%;
    background: #4d4d4d;
    padding: 0 5px;
    border-radius: 5px;
}
/*---------------------------------------------*/ 
.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #6a7dfe;
   background: -webkit-linear-gradient(90deg, rgba(251,166,29,1) 0%, rgba(240,86,51,1) 100%);
  background: -o-linear-gradient(90deg, rgba(251,166,29,1) 0%, rgba(240,86,51,1) 100%);
  background: -moz-linear-gradient(90deg, rgba(251,166,29,1) 0%, rgba(240,86,51,1) 100%);
 background: rgb(251,166,29);
background: linear-gradient(90deg, rgba(251,166,29,1) 0%, rgba(240,86,51,1) 100%);
}

.focus-input100::after {
  font-family: 'Roboto', sans-serif;

  font-size: 15px;
  color: #999999;
  line-height: 1.2;

  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 16px;
  left: 0px;
  padding-left: 5px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100::after {
  top: -15px;
}

.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::after {
  top: -15px;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}

/*---------------------------------------------*/
.btn-show-pass {
  font-size: 15px;
  color: #999999;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  padding-right: 5px;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.btn-show-pass:hover {
  color: #6a7dfe;
  color: -webkit-linear-gradient(left, #21d4fd, #b721ff);
  color: -o-linear-gradient(left, #21d4fd, #b721ff);
  color: -moz-linear-gradient(left, #21d4fd, #b721ff);
  color: linear-gradient(left, #21d4fd, #b721ff);
}

.btn-show-pass.active {
  color: #6a7dfe;
  color: -webkit-linear-gradient(left, #21d4fd, #b721ff);
  color: -o-linear-gradient(left, #21d4fd, #b721ff);
  color: -moz-linear-gradient(left, #21d4fd, #b721ff);
  color: linear-gradient(left, #21d4fd, #b721ff);
}



/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 13px;
}

.wrap-login100-form-btn {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;
}

.login100-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #a64bf4;
  background: -webkit-linear-gradient(90deg, rgba(251,166,29,1) 0%, rgba(240,86,51,1) 100%);
  background: -o-linear-gradient(90deg, rgba(251,166,29,1) 0%, rgba(240,86,51,1) 100%);
  background: -moz-linear-gradient(90deg, rgba(251,166,29,1) 0%, rgba(240,86,51,1) 100%);
 background: rgb(251,166,29);
background: linear-gradient(90deg, rgba(251,166,29,1) 0%, rgba(240,86,51,1) 100%);
  top: 0;
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn {  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
}

.wrap-login100-form-btn:hover .login100-form-bgbtn {
  left: 0;
}





/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0px;
  pointer-events: none;

  font-family: 'Roboto', sans-serif;

  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  font-size: 16px;
  color: #c80000;

  display: block;
  position: absolute;
  background-color: #fff;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 5px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

/*::::::::Custom Css ::::::::::::*/

span.top-logo img {
    padding: 25px;
    margin: 0 auto;
    text-align: center;
    float: none;
}
span.top-logo h3 {
    text-align: center;
    color: #fff;
    font-weight: bold !important;
    margin-bottom: 31px;
}
.btn-primary .fa { margin-right:5px; font-size:18px; vertical-align:middle;}
.padding-20 { padding:20px;}

.small-logo {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    float: none;
}
.back-icon .fa {
    display: inline;
    float: left;
    font-size: 30px;
}

.gender-select .btn-secondary.active { background: linear-gradient(90deg, rgba(251,166,29,1) 0%, rgba(240,86,51,1) 100%); border:none; padding:7px 30px; border-radius:15px;}

.gender-select .btn-secondary {  border:none; padding:7px 30px; border-radius:15px;}

.top-section {
    margin-bottom: 30px;
}
.gender-select {
    text-align: center;
}

@media (min-width: 320px) {

.range-slider {
    margin: 30px 0 30px 0%;
}

.range-slider {
  width: 100%;
  position: relative;
}

.range-slider__range {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background:linear-gradient(90deg, rgba(251,166,29,1) 0%, rgba(240,86,51,1) 100%);
  outline: none;
  padding: 0;
  margin: 0;
}
.range-slider__range::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
  transition: background .15s ease-in-out;
}
.range-slider__range::-webkit-slider-thumb:hover {
  background: #323232;
}
.range-slider__range:active::-webkit-slider-thumb {
  background: #323232;
}
.range-slider__range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
  transition: background .15s ease-in-out;
}

.range-slider__value {
    display: -webkit-inline-box;
    position: absolute;
    color: #fff;
    line-height: 20px;
    border-radius: 3px;
    top: 10px;
    right: 0;
}
.range-slider h4 {
    color: white;
    font-size: 18px;
    line-height: 2;
}

.btn-secondary.focus, .btn-secondary:focus {
    box-shadow: none !important;
}

.range-slider__value:after {

  content: '  Yo';
}
}

.custom-select {
    display: inline-block;
    max-width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    line-height: 1.25;
    color: #495057;
    vertical-align: middle;
    background: #fff url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' v…'0 0 4 5'%3E%3Cpath fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E) no-repeat right .75rem center;
    background-size: 8px 10px;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    background-color: #5d6567;
    color: white;
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 30px;
}
.validate-form label { font-size: 16px; color: #fff;}

.network-icon .fa {
    background: #333333;
    padding: 50px;

    text-align: center;
    font-size: 80px;
    border-radius: 280px;
    width: 200px;
    height: 200px;
	 line-height: 1.4;
	color:#fff;
}
.network-icon { text-align:center;     margin: 50px auto;}
.network-icon p { font-size:20px; color:#fff; margin:15px auto;}
.fidelity-section { padding:50px; text-align: center; color: #fff; }
.fidelity-section h3 { font-size: 30px; margin: 30px auto;}
.btn i.fa.fa-star {
    background: linear-gradient(90deg, rgba(251,166,29,1) 0%, rgba(240,86,51,1) 100%) !important;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text !important;
}

.fidelity-section .btn { width:80%; margin-bottom: 15px;}

.fidelity-section span.txt1 a .fa {
    background: #c4c9ce;
    padding: 2px;
    border-radius: 25px;
}
video#backgroundvid { 
position: fixed; right: 0; bottom: 0;
min-width: 100%; min-height: 100%;
width: auto; height: auto; z-index: -100;
background: url(polina.jpg) no-repeat;
background-size: cover; 
}


@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media only screen and (max-width: 767px) and (min-width: 320px) {
 
  .wrap-login100 {
    padding:25px !important;
  }
  
  .p-t-200 {
    padding-top: 50% !important;
}

.network-icon .fa {
 padding: 30px;
    font-size: 60px;
   	width: 150px;
    height: 150px;
    line-height: 1.6;
}

.network-icon {
    text-align: center;
    margin: 20px auto;
}
}
