/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
$colors: (
  primary: #488aff,
  secondary: #32db64,
  danger: #f53d3d,
  light: #f4f4f4,
  dark: #222,
  way-dark: #1a1a1a,
  way-red: #EF4136,
  way-yellow: #FFDD00,
  way-gray: #4d4d4d,
  way-gray-dark: #333333,
  white: #ffffff,
  facebook-blue: #3b5998
);
$background-color: map-get($colors, way-dark);
$way-connect-gradient: linear-gradient(to right, map-get($colors, way-red), map-get($colors, way-yellow)); // Import bootstrap styles
@import "bootstrap/bootstrap"; //Import react-input-range style
@import "input-range";

#root,
body,
html {
  background-color: $background-color;
  height: 100%;
  width: 100%;
  font-weight: bold;
  color: map-get($colors, light);

  .background {
    background: url("/assets/background.svg") no-repeat bottom left;
    background-size: 500px;
    background-position-x: calc(100vw - 285px);
    background-position-y: calc(100vh - 260px);
    height: 100%;
    width: 100%;
    position: fixed;
  }
}

.app {
  text-align: center;
  height: 100%;
  padding: 50px;
  position: relative;

  button {
    background-color: map-get($colors, way-gray);
    border-width: 0;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  }

  .row {
    margin-right: 0;
    margin-left: 0;
  }
}

.login {
  height: 100%;

  .logo {
    margin-top: 60px;
    max-width: 200px;
    height: 200px;
  }

  .btn-facebook {
    border-radius: 1rem;
    font-weight: bold;
    border: 0;
    background-color: map-get($colors, facebook-blue);
    padding: 0.5rem 1.5rem;
  }

  .no-facebook {
    color: white !important;
    text-decoration: none !important;
  }

  .buttons {
    margin-top: 250px;
    bottom: 100px;
  }
}

.claim,
.register {
  max-width: 500px;
  margin: auto;

  .form-control {
    background-color: rgba(map-get($colors, way-gray), 0.5);
    color: map-get($colors, light);
    border: 0;
    border-radius: 0.75rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  }

  label {
    font-size: 2rem;
    margin-top: 25px;
    color: map-get($colors, light);
  }

  .gender-radio-buttons {
    input {
      display: none;
    }

    input:checked + label {
      font-weight: bold;
      background: $way-connect-gradient;
    }

    label {
      width: 48%;
      color: #fff;
      font-weight: bold;
      font-size: 14px;
      text-transform: lowercase;
      text-align: center;
      padding: 5px;
      border-radius: 10px;
      background: #dbdbdb;
    }
  }

  .pull-left {
    float: left;
  }

  .input-range__label--max,
  .input-range__label--min,
  .input-range__label--value {
    display: none;
  }

  .input-range__track {
    background: #999 !important;
  }

  .input-range__track--active {
    background: $way-connect-gradient !important;
  }

  .input-range__slider {
    background: #333 !important;
    border: 1px solid #333 !important;
  }

  .age-title {
    font-size: 24px;
    float: right;
  }
  // .select-box {
  //   width: 100%;
  //   background-color: map-get($colors, way-gray);
  //   border-radius: 10px;
  //   position: relative;
  //   height: 30px;
  //
  //   .input {
  //     width: 100%;
  //     border: none;
  //     background-color: transparent;
  //     padding: 3px 10px;
  //     -moz-appearance: window;
  //     -webkit-appearance: none;
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     z-index: 1;
  //     color: map-get($colors, light);
  //   }
  //
  //   .arrow {
  //     position: absolute;
  //     top: 5px;
  //     right: 10px;
  //     color: map-get($colors, way-gray-dark);
  //     font-size: 20px;
  //   }
  // }
  .Select {
    width: 100%;
    text-align: left;
    font-weight: normal;
  }

  .submit {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.dashboard {
  margin: 10% auto;

  .btn {
    font-size: 5rem;
    border-radius: 8rem;
    width: 200px;
    height: 200px;
    margin: 20px;
  }
}

.fidelity {
  max-width: 500px;
  margin: auto;
  $fidelity_logo_size: 200px;
  $fidelity_logo_size_half: ($fidelity_logo_size);

  h2,
  h4 {
    font-size: 3.5rem;
    font-weight: 900;
  }

  h4 {
    font-size: 2.5rem;
  }

  .logo {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 10px;
    width: $fidelity_logo_size;
    height: $fidelity_logo_size;
    // margin-right: calc(100vw - 150px);
    img {
      width: 100%;
    }

    .logo-black {
      width: $fidelity_logo_size;
      height: $fidelity_logo_size;
      position: fixed;
      overflow-y: hidden;
      transition: height 2s ease;
    }

    .logo-white {
      width: $fidelity_logo_size;
      height: $fidelity_logo_size;
      position: fixed;
      overflow-y: hidden;
    }
  }

  .bonus-max {
    width: 50%;
    height: 3rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    padding: 0.25rem;
    background-color: rgba(map-get($colors, way-gray), 0.5);
    margin: 15% auto;
  }

  .fa:before {
    // color: $way-connect-gradient;
    background: $way-connect-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: initial;
  }

  .activate {
    font-size: 3rem;
    width: 100px;
    height: 100px;
    background-color: map-get($colors, way-gray);
    border-radius: 100px;
  }
}
