page-form {
  text-align: center;
  color: white;

  ion-navbar.toolbar {
    // height: 1000px !important;
  }

  .toolbar-background {
    background: color($colors, way-dark);
  }

  img.header {
    height: 30px;
  }

  .range-pin {
    color: color($colors, way-dark) !important;
    font-weight: 900;
  }

  .range-bar-active {
    background: linear-gradient(to right, color($colors, way-red) , color($colors, way-yellow)) !important;
  }

  .segment {
    font-weight: 900;
  }

  .segment-button {
    background-color: color($colors, way-gray) !important;
    border-style: none !important;
    border-radius: 5px;
  }

  .segment-activated {
    background: linear-gradient(to bottom right, color($colors, way-red) , color($colors, way-yellow));
  }

  .scroll-content {
    padding: 40px !important;
  }

  h2 {
    color: white;
    text-align: left;
  }

  ion-select {
    border-radius: 5px;
    background-color: color($colors, way-gray);
    max-width: 100%;
    height: 20px;
  }

  .select-icon {
    height: 1px !important;
  }

  .submit{
    margin-top: 50px;
  }
}
